*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body{
background-color: #eeeeee;
}

span{
    display: block;
}

.font-thin{
font-family: 'Hanken Grotesk', sans-serif;
font-weight: 100;
}

.font-light{
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 300;
}

.font-regular{
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 400;
}

.font-medium{
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500;
}

:root{
    /* testar essa cor: #5e388f . Ainda estou em dúvida sobre a cor do background principal*/
    --background: #7E22F5;  
    --text: #e0e0e0;
    --color01: #232F40; 
    --red: #c63637;
    --yellow: #ffcf59;
    --green: #44e78c;
    --blue: #005ad6;
}

.c0{
    color: #fff;
}

.c1{
    color: var(--text);
}


/* https://color.adobe.com/pt/search?q=mono&t=term */