*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    display: grid;
    min-height: 100vh;
}



span{
    display: block;
}

.font-thin{
font-family: 'Hanken Grotesk', sans-serif;
font-weight: 100;
}

.font-light{
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 300;
}

.font-regular{
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 400;
}

.font-medium{
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500;
}

:root{
    /* testar essa cor: #5e388f . Ainda estou em dúvida sobre a cor do background principal*/
    --background: #7E22F5;  
    --text: #e0e0e0;
    --color01: #2e3e55; 
    --red: #F55;
    --yellow: #FFB21E;
    --green: #00BB8F;
    --blue: #1125D6;
}

.c0{
    color: #fff;
}

.c1{
    color: var(--text);
}


/* https://color.adobe.com/pt/search?q=mono&t=term */