h1{
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 600;
}

span > span{
    display: inline-block;
    color: var(--color01);
    font-weight: 500;
    font-family: 'Hanken Grotesk', sans-serif;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 750px;
    margin: 100px 0px 0px 0px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 2px 2px 50px #7d22f51c; 
    justify-self: center;
}

.header{
    font-size: 1.375rem;
}

.text{
    max-width: 25ch;
    font-size: 1.125rem;
}

.box1{
display: grid;
row-gap: 20px;
justify-items: center;
text-align: center;
padding-top: 30px;
padding-bottom: 50px;
background-color: var(--background);
border-radius: 30px;
}


.box2{
background-color: #fff;
display: grid;
border-top-right-radius: 30px;
border-bottom-right-radius: 30px;
padding: 0px 40px 15px 40px;
}

.box2 > h2{
display: grid;
align-content: center;
font-family: 'Hanken Grotesk', sans-serif;
font-weight: 500;
color: var(--color01);
}

.results-container {
    display: grid;
    text-align: center;
    padding: 0px 0px 15px 0px;
}

.button-container {
    display: grid;
    place-content: center   ;
}

.button {
    background-color: var(--color01);
    padding: 16px 115px;
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
  }

.button:hover{
    background-color: var(--background);
    transition: 0.2s;
}

.number-box{
    display: grid;
    place-content: center;
    border-radius: 50%;
    background-image: linear-gradient(180deg, #641CC2, #641cc200) ;
    width: 175px;
    height: 175px;
    margin: 10px 0;
}

.number-box > span:first-child{
    font-weight: bold;
    font-size: 3rem;
}

.list{
    display: grid;
    list-style: none;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 12px;
}


.list > li{
display: grid;
grid-template-rows: 1fr;
grid-template-columns: auto 1fr;
border-radius: 10px;
padding: 5px 0px;
}

.list >:first-child {
    background-color: #ff555513;
}

.list >:first-child > .mini-results > h3{
    color: var(--red);
}

.list >:nth-child(2){
    background-color: #ffb01e13;
}

.list >:nth-child(2) > .mini-results > h3{
    color: var(--yellow);
}

.list >:nth-child(3){
    background-color: #00bb8f13;
}

.list >:nth-child(3) > .mini-results > h3{
    color: var(--green);
}

.list >:nth-child(4){
    background-color: #1125d613;
}

.list >:nth-child(4) > .mini-results > h3{
    color: var(--blue);
}

.mini-results{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.mini-results > h3{
text-align: left;
padding-left: 15px;
}

.mini-results > span{
    text-align: right;
    padding-right: 15px;
    color: #232f406c;
    font-weight: 500;
}

.img-box{
    display: grid;
    align-content: center;
    padding-left: 12px;
}


@media(max-width: 700px){

    .container{
        justify-self: center;
        margin-top: 0px;
        max-width: 375px;
        grid-template-columns: 0;
        grid-template-rows: auto 1fr;
    }

    .box1{
        width: 375px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        padding-bottom: 32px;
    }

    .number-box{
        width: 140px;
        height: 140px;
        margin: 0px;
    }

    .number-box > span:first-child{
        font-size: 3.5rem;
    }

    h1{
        font-size: 1.5rem;
    }

    .text{
        max-width: 30ch;
        font-size: 1rem;
    }

}