.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 750px;
    margin: 100px auto 0px auto;
    background-color: #fff;
    border-radius: 30px;
}

.header{
    font-size: 1.375rem;
}

.text{
    max-width: 25ch;
    font-size: 1.125rem;
}

.box1{
display: grid;
row-gap: 20px;
justify-items: center;
text-align: center;
padding-top: 30px;
padding-bottom: 50px;
background-color: var(--background);
border-radius: 30px;
}


.box2{
background-color: #fff;
display: grid;
justify-items: center;
}

.results-container {
    display: grid;
    text-align: center;
}

.button-container {
    display: grid;
    place-items: center;
}

.button {
    background-color: var(--color01);
    padding: 10px 20px;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
  }

.number-box{
    display: grid;
    place-content: center;
    border-radius: 50%;
    background-image: linear-gradient(180deg, #641CC2, #641cc200) ;
    width: 175px;
    height: 175px;
    margin: 10px 0;
}

.number-box > span:first-child{
    font-weight: bold;
    font-size: 3rem;
}

.list{
    display: grid;
    list-style: none;
}

.list > li{
}

.list > li:first-child{
    background-color: #fa9d9d8c;
}
